body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.clock{
    background-color: #cccc;
    border: 2px solid black;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position:relative;
}
.numbers{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    transform: rotate(var(--rotation));
    width:100%;
    height:100%;
    position: absolute;
    /* background-color: blue; */
    --rotation:0;
}
.numbers1{


     --rotation:30deg;
}
.numbers2{

    --rotation:60deg;
}
.numbers3{
    
    --rotation:90deg;
}
.numbers4{
    
    --rotation:120deg;
}
.numbers5{
    
    --rotation:150deg;
}
.numbers6{
    
    --rotation:180deg;
}

.numbers7{
    
    --rotation:210deg;
}
.numbers8{
    
    --rotation:240deg;
}
.numbers9{
    
    --rotation:270deg;
}
.numbers10{
    
    --rotation:300deg;
}
.numbers11{
    
    --rotation:330deg;
}
.clock::after{
content: "";
position: absolute;
height: 15px ;
width:15px;
background-color: black;
border-radius: 50%;
top: 50%;
transform: translate(-50%,-50%);
left:50%;
z-index: 11;

}
.hands{
    background-color: black;
    left: 50%;
    bottom:50%;
    position: absolute;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin: bottom;
    z-index: 10;
    border: 1px solid white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    --rotation:0;
    
}
.seconds{
    height: 45%;
    width:3px;
    background-color: red;
    
}
.minutes{
    height: 40%;
    width:7px;
    background-color: black;
    
}
.hours{
    height: 30%;
    width:10px;
    background-color: black;
}
